
.clock {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 600px;
}

.top-btn-container {
  display: flex;
  justify-content: center;
  margin: 5px;
  width: 100%;
}

.top-btn {
  background-color: #c953c4;
  font-size: 20px;
  margin: 5px;
  width: 45%;
}

.regular {
  background-color: green;
}

.break {
  background-color: red;
}

.timeDisplay {
  font-size: 35px;
  height: 150px;
  margin: 5px;
  width: 100%;
}



#startPauseBTN {
  background-color: #c953c4;
  font-size: 20px;
  margin: 5px;
  width: 45%;
}